#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A  //&kp M is not working either  //&kp C_MUTE is not working. It overrides the twist
                &kp C_MUTE
            >;
            sensor-bindings = <
                               &inc_dec_kp C_VOL_DN C_VOL_UP
                               &inc_dec_kp C_FF C_RW
                               >;
        };
    };
};
