#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/*
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &trans   //&kp C_MUTE is not working. It overrides the twist
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN >;
        };
    };
};
*/

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &encoder_encoder
            >;
        };
    };
};

&encoder {
    steps-per-period = <4>;      /* Adjust depending on your encoder */
    clockwise = <&kp KC__VOLUP>;
    counter-clockwise = <&kp KC__VOLDOWN>;
    click = <&kp KC__MUTE>;
};
